:root{
    --primary:  #8d9095;
    --info: #2b3a55;
    --success: #60a665;
    --warning: #dd962d;
    --danger: #f44336;

    --one:#EDF0EC;
    --two:#A57E57;
    --three:#8D9095;
    --four:#785A5C ;
    --five:#2B3A55;
}

/* #EDF0EC
#A57E57
#8D9095
#785A5C 
#2B3A55
*/

/* 
#8d9095	Primary
#2b3a55	Info
#60a665	Success
#dd962d	Warning
#f44336	Danger
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}


.app-container {
    /* background-color: rgb(224, 224, 224); */
    background-color: #2B3A55;
  }
  
  .auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .auth-form {
    width: 420px;
    box-shadow: rgba(61, 61, 61, 0.637) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: #EDF0EC;
  }
  
  .auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .auth-form-title {
    text-align: center;
    margin-bottom: 0.2em;
    font-size: 34px;
    color: rgb(34, 34, 34);
    font-weight: 400;
  }
  
  label {
    font-size: 14px;
    font-weight: 400;
    color: rgb(34, 34, 34);
  }


/* .btn-primary {
    background-color: #8d9095 !important;
} */

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: var(--five) !important;
    border-color: var(--five) !important;
}

.btn-primary:hover {
    background-color: #495977 !important;
}

.form-control:focus {
	border-color: var(--one) !important;
	outline: 0 !important;
	box-shadow: 5 1 1 .5rem rgba(62, 91, 134, 0.25) !important;
}